#header {
  background-color: #4c66a4;
  padding: 0px 0px 0px 10%;
  font-size: 16px;
  height: 70px;
  color: #fff;
}
#header>div {
  text-align: center;
  height: 70px;
  padding-top: 25px;
  box-sizing: border-box;
  border: 1px solid transparent;
  -webkit-user-select: none;
}
.user-block {
  padding-top: 20px;
}
#header>.header-user {
  padding-top: 5px;
}
.header-logo {
  width: 20%;
}
.header-nav {
  width: 50%;
}
.header-user {
  width: 30%;
}
#logo-img {
  background-color: #fff;
  color: #4c66a4;
  border-radius: 3px;
  padding: 6px;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
#logo-img:hover {
  cursor: pointer;
}

.header-btn {
  border: 0px solid transparent;
  border-bottom-width: 1px;
  margin: 0px 10px;
  padding: 6px 0px;
  box-sizing: border-box;
}
.small-btn {
  padding: 2px 0px;
  margin: 0px 4px;
}
.header-input {

}
.header-hidden-btn {
  width: 0px;
}
.header-separator {
  border-right: 1px solid #364c7c;
  box-shadow: 1px 0px 1px 0px rgba(255,255,255,0.2), inset -1px 0px 1px 0px rgba(255,255,255,0.2);
}
.header-btn:hover {
  border-color: #fff;
  cursor: pointer;
}

.header-login {
  width: 70%;
}
.header-label-container {
  font-size: 12px;
}
.header-btns-container {
  font-size: 13px;
}
.header-label {
  box-sizing: border-box;
  width: 50%;
}
.header-input {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
}
.header-cell {
  width: 50%;
  box-sizing: border-box;
}
.header-login-btns {

}
.main-btn {
  padding: 2px;
  border: 1px solid #ffffff;
}
.main-btn:hover {
  cursor: pointer;
}
.header-login-btns {
  padding-top: 16px;
}