.header-login {
  width: 70%;
}
.header-label-container {
  font-size: 12px;
}
.header-btns-container {
  font-size: 13px;
}
.header-label {
  box-sizing: border-box;
  width: 50%;
}
.header-input {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
}
.header-cell {
  width: 50%;
  box-sizing: border-box;
}
.header-login-btns {

}
.main-btn {
  padding: 2px;
  border: 1px solid #ffffff;
}
.main-btn:hover {
  cursor: pointer;
}
.header-login-btns {
  padding-top: 16px;
}