script(type="text/javascript", src="libs/jquery/jquery.js")
script(type="text/css", rel="stylesheet", href="libs/bootstrap/css/bootstrap.min.css")
script(type="text/css", rel="stylesheet", href="libs/bootstrap/css/bootstrap-theme.css")
script(type="text/javascript", src="libs/bootstrap/js/bootstrap.min.js")
script(type="text/javascript", src="js/common/helper_methods.js")