<!DOCTYPE HTML>
<html>
<head>
    <title>mok.shop</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/index.css"/>
    <link type="text/css" rel="stylesheet" href="css/home.css"/>

    <script type="text/javascript" src="libs/jquery-2.0.2.js"></script>

    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</head>
<body>
    <div id="header">
        <div class="header-logo header-separator left">
            <span id="logo-img">m.s</span>
            <span id="logo-header" class="header-btn">mor.shop</span>
        </div>
        <div class="header-nav left">
            <span id="nav-home" class="header-btn">Home</span>
            <span id="nav-smts" class="header-btn">App</span>
            <span id="nav-smts2" class="header-btn">Products</span>
        </div>
        <div class="header-user left">
            <span id="user-name" class="header-btn">name</span>
            <span id="user-login" class="header-btn">login</span>
            <span id="user-register" class="header-btn">register</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content"></div>
</body>
</html>