doctype html
html
  head
    title mok.shop
    meta(charset="UTF-8")
    link(type="text/css", rel="stylesheet", href="css/main.css")
    include head/common
    include head/header
    include head/footer
    script(type="text/javascript", src="js/index.js")

  body
    include common/header
    include content/default
    include common/footer