
#header
  .header-logo.header-separator.left
    span#logo-img m.s
    span#logo-header.header-btn mok.shop
  .header-nav.left
    span#nav-home.header-btn Home
    span#nav-smts.header-btn App
    span#nav-smts2.header-btn Products
  .header-user.left
    .user-block(class=user?['']:['hidden'])
      span#user-name.header-btn= user && user.name ? user.name : ""
      span#logout-user.header-btn logout
    .login-block(class=user?['hidden']:[''])
      .header-login.left
        .header-label-container
          .header-label.left Email or login
          .header-label.left Password
          .clear
        .header-input-container
          input#login-user-name.header-input.left
          input#login-user-password.header-input.left(type="password")
          .clear
        .header-btns-container
          .header-cell.left
            span#registrate-user.header-btn.small-btn Registrate
          .header-cell.left
            span#user-reset-password.header-btn.small-btn Forget password?
          .clear
      .header-login-btns.left
        span#login-user.header-btn login
      .clear
  .clear