#content
  .container
    .row
      .col-md-9
        .el sdgdfgdfg
        .el sdfsd
        .el sdfsdfsdf
        .el dsfsfsdf
        .el sdffsdfsdf
        .el sdsfsdfsdf
        .el sdsfsdfsdff
      .col-md-3
        .bs-sidebar.affix
          ul.nav.bs-sidenav
            li bla1
            li bla2
            li bla3